@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,700&family=Allerta+Stencil&family=Faster+One&display=swap');

body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(28, 28, 27);
  height: 100%;
  font-family: 'Allerta Stencil', sans-serif;
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container h1 {
  font-family: 'Faster One', cursive;
  background: -webkit-linear-gradient( white, rgb(110, 44, 69), rgb(66, 13, 22));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

.container h2{
  font-size: 1rem;
  color: white;
  text-align: left;
  margin-left: 30%;
  margin-bottom: 7%;
  position: relative;
}

.home-link {
  color: rgb(110, 44, 69);
  font-size: 1.5rem;
}

.home-link:hover {
  color: rgb(66, 13, 22);
}

#bandlink {
  margin-right: 4%;
}
#attlink {
  margin-left: 4%;
}

.container {
  margin-top: 20%;
}

.loginhead {
  margin-bottom: 2%;
}

.loginform {
  margin-bottom: 3%;
}

.btn {
  background-color: rgb(110, 44, 69);
  border-color: white;
  margin-bottom: .7%;
  color: white;
}

.btn:hover,
.btn:focus {
  background-color: rgb(66, 13, 22)!important;
  border-color: grey!important;
  color: grey!important;
  box-shadow: 0 1px 1px rgba(66, 13, 22, 0.075)!important;
  outline: 0 none!important;
}

.loginLink {
  font-size: 1rem;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{
  border-color: rgb(110, 44, 69);
  box-shadow: 0 1px 1px rgba(66, 13, 22, 0.075);
  outline: 0 none;
}

.navbar {
  background-image: linear-gradient(to right, rgb(110, 44, 69), rgb(115, 106, 106), rgb(66, 13, 22));
  color: white;
  position: sticky;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border-color: white;
}

.navbar.navbar-expand-lg.navbar-light.bg-light a {
  color: white;
}
.navbar.navbar-expand-lg.navbar-light.bg-light a:hover {
  color: rgb(66, 13, 22);
}

.navbar-brand {
  font-family: 'Faster One', cursive;
}

.nShowLink {
  color: white;
  font-size: 3rem;
}

.nShowLink:hover {
  color: rgb(110, 44, 69);
}

.new-form {
  width: 65%;
  margin: auto;
  text-align: center;
  margin-top: 15%;
  color: white;
  padding: 2%;
  border-radius: 20px;
    -webkit-box-shadow: 0 0 20px 5px rgb(66, 13, 22);
    -moz-box-shadow: 0 0 20px 5px rgb(66, 13, 22);
    box-shadow: 0 0 20px 5px rgb(66, 13, 22);
}
.new-form h2 {
  margin-bottom: 10%;
}

.new-form input,
.new-form select {
  margin-bottom: 2%;
}

.show-playlist {
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: relative;
  width: 75%;
  margin-left: 12.5%;
  position: static;
}

.band-reqs {
  /* width: 50%;
  float: left;
  height: 100%; */
  text-align: center;
  border-bottom: solid 1px rgb(110, 44, 69);
  width: 100%;
  position: static;
  height: 22rem;
}
.band-list {
  /* width: 50%;
  float: right;
  height: 100%; */
  justify-content: center;
  width: 100%;
  margin-top: 3%;
  position: static;
}
.show-playlist h2,
.show-playlist h3 {
  text-align: center;
}

.listsongs {
  margin-bottom: 4%;
}

.listsongs button {
  margin-left: 35%;
}

.list-group-item {
  text-align: center;
  background-color: rgb(66, 13, 22);
  border: solid 2px white;
  /* width: 75%; */
}

.list-group-item:hover {
  background-color: rgb(110, 44, 69);
}

.list-group {
  justify-content: center;
  overflow: scroll;
  /* height: 40vw; */
}

.playlist-div {
  text-align: center;
  width: 75%; 
  margin-left: 12.5%;
}

.list-group-item a {
  color: white;
}

.spl {
  margin: 1%;
}

.searchbar {
  text-align: center;
  margin-bottom: 3%;
}

.disabled {
  background-color: rgba(66, 13, 22, .25)!important;
  border-color: grey!important;
  color: grey!important;
}

.more-results {
  color: white;
}

.more-results:hover {
  color: rgb(110, 44, 69);
}

.error {
  color: rgb(110, 44, 69);
}